<% include ./partials/header %>
<h1>Yo this is the login</h1>

<form action="/login" method="post">
  <input type="text" name="username" id="" placeholder="username" />
  <input type="password" name="password" id="" placeholder="password" />
  <button>Log In</button>
</form>

<% include ./partials/footer %>
